# Git Ignore Configuration File
# See https://git-scm.com/docs/gitignore for more details.

#---------------------------------
# Directories
#---------------------------------
node_modules/
public/static/
public/coverage/

#---------------------------------
# Files
#---------------------------------
npm-debug.log
firebase-debug.log

#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip

#---------------------------------
# Project generated
#---------------------------------
.nyc_output

#---------------------------------
# IDE generated
#---------------------------------
.idea/
.vscode/
.project
*.iml

#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
