

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Menu
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Menu {
  position: relative;
}

.Menu--Content {
  line-height: 20px;
  padding: 12px 20px 8px;

  > li {
    display: inline-block;

    > a {
      display: block;
      padding: 10px;
    }
  }
}
