

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Root Container
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.RootContainer {
  position: relative;
}

.RootContainer--Topbar {
  height: 60px;
  border-bottom: 1px solid black;
}

.RootContainer--Content {
  padding: 30px;
}
